<%= form_for(contact, {:url => "/contacts", :html => {:class => 'contact_form'}}) do |f| %>
  <%= f.text_field :name, :placeholder => "Name", class:"form-control" %> <br>
  <%= f.text_field :email, :placeholder => "Email", class:"form-control" %> <br>
  <%= f.text_field :company, :placeholder => "Company", class:"form-control" %> <br>
  <%= f.text_area :notes, :placeholder => "Notes (jot down some interesting tidbits you learned about this contact)", class:"form-control" %> <br>

<!-- TODO: MAKE THIS FUCKING DUMBASS HTML FORM NOT LOOK LIKE ABSOLUTE SHIT. GOOD FUCKING LUCK -->
  <select name="contact[reminder]">
  <option value="" selected="selected">When would like to be reminded?</option>
  <option value="1">1 week</option>
  <option value="2">1 month</option>
  <option value="3">3 months</option> 

<%= f.submit %>
<% end %>