<%= form_for(contact, {:url => "/contacts", :html => {:class => 'contact_form'}}) do |f| %>
  <%= f.text_area :name, :placeholder => "Name" %>
  <%= f.text_area :email, :placeholder => "Email" %>
  <%= f.text_area :company, :placeholder => "Company" %>
  <%= f.text_area :notes, :placeholder => "Notes (Optional)" %>
  <select name="contact[reminder]">
<option value="" selected="selected">When would you like a reminder?</option>
<option value= "1" >1 week</option>
<option value= "2">1 month</option>
<option value= "3">3 months</option>
  <br/>
  <%= f.submit %>
<% end %>