 <%= form_for(@contact) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :company %>
      <%= f.text_field :company, class: 'form-control' %>

      <%= f.label :notes %>
      <%= f.text_field :notes, class: 'form-control' %>

<!-- TODO: just copy,pasted this code in from the _form file. need to link it to add an upcoming reminder -->

      <div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" value="1" name="reminder[]">
      </span>
      <input type="text" class="form-control" value="Remind me in a week" aria-label="..." readonly>
    </div><!-- /input-group -->
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" value="2" name="reminder[]">
      </span>
      <input type="text" class="form-control" value="Remind me in a month" aria-label="..." readonly>
    </div><!-- /input-group -->
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" value="3" name="reminder[]">
      </span>
      <input type="text" class="form-control" value="Remind me in three months" aria-label="..." readonly>
    </div><!-- /input-group -->
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" value="4" name="reminder[]">
      </span>
      <input type="text" class="form-control" value="Remind me in six months" aria-label="..." readonly>
    </div><!-- /input-group -->
  </div>
</div>


      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>