<h2> <%=@contact.name%> </h2>

<%=link_to 'Edit Contact', edit_contact_path %>
 | <%=link_to 'Delete Contact', "/contacts/#{@contact.id}", :method => :delete %>

<div class="contact_profile">
  <table>
    <tr>
    </tr>
    <tr>
     <td>
      <div class="contact_email"><%= @contact.email %></div>
    </td>
    <td>
     <div class="contact_company"><%= @contact.company %></div>
   </td>
   <td>
    <div class="contact_notes"><%= @contact.notes%></div>
  </td>
  <td>
  <div class ="contact_reminder"><%= @contact.reminder%></div>
  </td>
</tr>
</table>
</div>

<%= render partial: "emails", locals: {contact: @contact, emails: @emails}  %>

<%= render partial: "template", locals: {contact: @contact} %>
