<!DOCTYPE html>
<html>
<head>
  <title>Touch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>


<div id="container">
  <!-- TODO: comment these out before we demo because they look like shit and we don't need them except for error checking -->
  <%= render partial: "alerts" %>
  <% if user_signed_in? %>
    Signed in as <%=current_user.name%> | 
    <%=link_to 'Sign Out', destroy_user_session_path, :method => :delete %> | <%=link_to 'Edit Profile', edit_user_registration_path %>
  <% else %>
  <% end %>

<% if !current_page?(root_path) && user_signed_in? %>
   | <%=link_to 'Home Page', root_path %>
<% end %>

  <%= yield %>

    
</div>

</body>
</html>

